$color-txt-title: #2A3554;
$color-txt-link: #0A92EF;

$color-primary: #30CF94;
$bg-color-primary: #30CF94;
$color-primary-variant-dark: #4956fe;
$color-secondary: #5A259F;

$color-txt-error:#FE4962;
$bg-color-txt-error:#FE4962;
$color-txt: #707070;
$light-gray-bg: #F0F0F7;

$color-txt-medium: #A3A6B4;