$mq-support: true !default;
$mq-fixed-value: 1024px !default;

@mixin bp($feature, $value, $orientation: "") {
    $media: only screen;

    @if $mq-support == true {
        @if ($orientation != "") {
            @media #{$media} and ($feature: $value) and (orientation: $orientation)  {
                @content;
            }
        } @else {
            @media #{$media} and ($feature: $value)  {
                @content;
            }
        }
    } @else {
        @if $feature == 'min-width' {
            @if $value <= $mq-fixed-value {
                @content;
            }
        } @else if $feature == 'max-width' {
            @if $value >= $mq-fixed-value {
                @content;
            }
        }
    }
}